html {
    background-color: white;

    font-family: 'Trebuchet MS' !important;

    column-rule-color: #7f058a !important;
    -webkit-column-rule-color: #7f058a !important;
    -moz-column-rule-color: #7f058a !important;
    font-family: 'Roboto', sans-serif !important;
}

body {
    margin-bottom: -5% !important;
}

.nav-wrapper {
    /* background-color: #10a134; */
    background-color: #7f058a;
    padding-left: .5%;
}

.brand-logo {
    font-family: 'Trebuchet MS' !important;

}

.container {
    /*color: #7f058a;*/
    /*-webkit-text-fill-color: #7f058a;*/
    align-items: center;
}

div {
    color: #7f058a;
}


.row {
    padding: 3%;
}

.waves-effect {
    background-color: #7f058a;
}

.waves-effect:hover {
    background-color: #cf15e0;
}

.nav-fixed {
    color: #7f058a;
}

.sidenav li {
    color: #7f058a;
}

body {
    color: #7f058a;
}

.footer {
    background: #7f058a !important;
    color: white !important;
}

.nav-content {
    background-color: #7f058a !important;
}

/* Default font size */
.home-text {
    font-size: 16px;
}

/* Larger font size for desktop screens */
@media (min-width: 768px) {
    .home-text {
        font-size: 22px;
    }
}

/* Smaller font size for mobile screens */
@media (max-width: 767px) {
    .home-text {
        font-size: 14px;
    }
}
body {
    background: linear-gradient(135deg, rgba(128, 0, 128, 0.8), rgba(75, 0, 130, 0.8));
}
